complexsave/.settings
complexsave/target
complexsave/.classpath
complexsave/.project
facetedsearch/.settings
facetedsearch/target
facetedsearch/.classpath
facetedsearch/.project
spellchecker/.settings
spellchecker/target
spellchecker/.classpath
spellchecker/.project
productversion/.settings
productversion/target
productversion/.classpath
productversion/.project